@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircusPierrot4";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus2DIn";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BFA_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BFA_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BFA_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BFA_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BFA_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "Rig Bold Coarse";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf");
}
@font-face {
  font-family: "Rig Bold Extrude";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf");
}
@font-face {
  font-family: "Rig Bold Shadow";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf");
}
@font-face {
  font-family: "Rig Bold Face";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf");
}
@font-face {
  font-family: "Rig Bold Inline";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf");
}
/* common */
.connect { 
  display: flex;
  position: absolute; right: 20%; bottom: 10%; 
}
.connect-common { 
  display: flex; justify-content: center; align-items: center; 
  width: 120px; height: 50px;
  background-color: #fff;
  font-weight: 700; font-size: 20px; 
  box-shadow: 0 0 18px #000;
  transition: all 0.3s;
}
.connect-common + .connect-common { margin-left: 40px;}

.connect-common:hover { 
  transform: scale(1.3); 
}
/* common */

body {
	color: #fff;
}

#hero {
  width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
	/* max-width: 1920px; */
	margin: 0 auto;
  z-index: -3;
}
#content {
	background-color: rgb(255, 191, 0);
}



#hero-mobile {
	display: none;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
	height: 320px;
}

.first-section {
  box-sizing: border-box;
	padding: 200px 0 220px;
}
.first-section > h1 { 
  margin-bottom: 300px;
  text-align: center; 
}
.introduction-box { 
  margin: 0 auto; 
  width: 90%;
}
.introduction-box figure img { width: 100%; }



/* hero-svg-css */

.myworld{
  margin: 0 auto;
  width: 50%; 
  position: fixed; z-index: -1; bottom: 0; left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
#airplane2, #airplane1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 331px 201px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}


/* city-train */
.skyline {
  width: 100%; height: 60%;
  background: url(../img/city.png) no-repeat center bottom / contain;
  position: absolute; bottom: 0;
  overflow-x: hidden; 
}
.train {
  width: 100%; height: 5%;
  background: url(../img/train.png) no-repeat center center / contain;
  position: absolute;
  bottom: 0;  left: 50%;
  transform: translateX(-95%);  
  animation: train-move 20s infinite; 
}
@keyframes train-move {
  0% {transform: translateX(-95%)}
  50% {transform: translateX(-5%)}   
  100% {transform: translateX(-95%)} 
}
/* city-train */

/* hero-svg-css */

/* profile title svg */

.mytitle { margin-bottom: 200px; }

.svg-text {
  width: 100%;
  position: relative;
  transform: rotateX(30deg);
  font-size: 280px;
  font-family: 'dragon_is_comingregular', serif;
  transition: all 0.6s ease-in-out;
  color: #f0f0f0;
  cursor: pointer;
}
.svg-text__shaded {
  text-shadow: 0 1px 1px rgba(33, 33, 33, 0.15), 0 3px 10px rgba(33, 33, 33, 0.15), 0 3px 20px rgba(33, 33, 33, 0.35);
}
.svg-text__shaded__sub {
  font-size: .05em;
  font-family: 'Open Sans', sans-serif;
}
.svg-text__shaded__stroke {
  stroke-dasharray: 3em .5em;
  stroke-dashoffset: 0;
  transition: all 0.6s ease-in-out;
  -webkit-animation: offsetAnim 4.2s ease-in-out infinite;
          animation: offsetAnim 4.2s ease-in-out infinite;
}
.svg-text .bold {
  font-size: .5em;
  font-family: 'Kreon', sans-serif;
  font-weight: 700;
}

.svg-text:hover .svg-text__shaded__stroke {
  -webkit-animation: offsetAnim 4.2s ease-in-out infinite;
          animation: offsetAnim 4.2s ease-in-out infinite;
}


@-webkit-keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}

@keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}

/* profile title svg */

/* profile picture effect */
canvas {
  display: block;
  width: 100%;
}
/* profile picture effect */

/* introduction-box */
.introduction-box {display: flex;}
.introduction-box figure { 
  width: 100%;
  margin-right: 10%;
  position: relative; 
}
.introduction-box figure canvas { 
  position: absolute; right: -26%; top: -2%;
}
.introduction-box div h1 { 
  margin-bottom: 30px;
  font-size: 38px; color: #000;
}
.introduction-box div p { font-weight: 600; font-size: 28px; line-height: 40px; }
.introduction-box .me + .me {margin-top: 40px;}
.intro-text-box { 
  /* padding-top: 60px; */
  display: flex; 
  width: 100%;
}
.intro-text-box .personal-box { margin-right: 60px; }
.skill-box { width: 100%; }
.my-skill{width: 100%;
  display: flex;
}
.skill-detail { 
    width: 60px; height: 60px;
  background-image: url(../img/html.png); background-position: center center; background-repeat: no-repeat; background-size: contain;
  animation: heartbeat 1.5s infinite;
}
.skill-detail + .skill-detail { margin-left: 20px; }
.skill-detail:nth-child(2){background-image: url(../img/css.png);}
.skill-detail:nth-child(3){background-image: url(../img/javascript.png);}
.skill-detail:nth-child(4){background-image: url(../img/jquery.png);}
.skill-detail:nth-child(5){
  margin-left: 37px;
  background-image: url(../img/photoshop.png);
}
.skill-detail:nth-child(6){
  margin-left: 37px;
  background-image: url(../img/illustrator.png);
}
.skill-detail:nth-child(7){background-image: url(../img/figma.png);}

@keyframes heartbeat {
  0% { transform: scale(1);}
  50% { transform: scale(1.3);}
  100% { transform: scale(1);}
}

/* introduction-box */


/* Most of these styles could be removed but are for the demo to look better */
/* 
html,
body {
  margin: 0;
  height: 100%;
} */


.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 1rem 2rem;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}

/* pizza sec */


#panels-container #panel-1 { background-color: #d4261f; }

/* pizza sec tit */
.stage {
  /* height: 300px;
  width: 500px; */
  margin: auto;
  position: absolute;
  top: 2%; left: 5%;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(20deg) rotateX(13deg) translateZ(0);
}

.layer:after {
  font: 700 140px/0.65 'dragon_is_comingregular', "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "오구쌀피자";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: #ff0;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(255, 255, 255);
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #fff;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #ff0;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-10deg) rotateX(-11deg);
  }
}
/* pizza sec tit */
/* .pizza-box { display: flex; } */
.pizza-img-box { 
  width: 38%; 
  position: absolute; left: 7%; bottom: 5%;
} 
.pizza-img-box img { 
  /* margin: 38% 0 0 11%; */
  width: 100%; 
  border: 10px solid #ff0;
  box-shadow: 0 0 40px #002951;
} 
.pizza-text-box { 
  /* box-sizing: border-box; */
  /* margin-top: 18%;  */
  /* padding-left: 10%; */
  width: 100%;
  position: absolute; bottom: 20%; left: 50%;
}
.pizza-text-box h1 { 
  width: 34%;
  margin-bottom: 30px;
  border-bottom: 5px solid #ff0;
  font-size: 50px; line-height: 80px; color: #fff; text-align: center;
}
.pizza-text-box p { font-weight: 600; font-size: 24px; line-height: 40px; color: #fff; }

.model-img {
  border-bottom: 10px solid #ff0;
  width: 350px; height: 390px;
  background-image: url(../img/brand-model.png);
  position: absolute; right:0; top:5%;
}
.interior-img {
  width: 741px; height: 337px;
  background-image: url(../img/interior-removebg-preview.png);
  position: absolute; right: 10%; top: 5%;
}
/* pizza sec */

/* daehan sec */
#panels-container #panel-2 { background-color: #fff; }
.plate {
  width: 50%;
  position: absolute; left: 5%; top: 5%;
  
}
.shadow1 {
  color: rgb(13, 9, 142);
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 rgb(255, 255, 255),
    3px -3px 0 rgb(255, 255, 255),
    -3px 3px 0 rgb(255, 255, 255),
    3px 3px 0 rgb(255, 255, 255),
    4px 4px 0 rgb(0, 0, 0),
    5px 5px 0 rgb(0, 0, 0),
    6px 6px 0 rgb(0, 0, 0),
    7px 7px 0 rgb(0, 0, 0);
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: 700; font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: rgb(255, 255, 255);
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 8px solid rgb(255, 0, 0);
}

.text2 {
  font-size: 169px; line-height: 200px;
  animation: heartbeat2 1.7s infinite;
}

@keyframes heartbeat2 {
  0% { transform: scale(1);}
  50% { transform: scale(1.1);}
  100% { transform: scale(1);}
}
.daehan-model1 { 
  width: 550px; height: 340px;
  background-image: url(../img/daehan-model.png); background-size: cover;
  position: absolute; left: 0; bottom: 0; 
}
.daehan-intro {
  width: 600px; height: 700px;
  border: 8px solid #002951;
  background-image: url(../img/daehan-intro.png); background-size: cover; background-repeat: no-repeat;
  box-shadow: 0 0 18px #000;
  position: absolute; right: 6%; top: 10%;
}
.daehan-text-box { 
  width: 40%; 
  position: absolute; left: 8%; bottom: 40%;
}
.daehan-text-box h1 { font-size: 50px; margin-bottom: 30px; }
.daehan-text-box p { font-weight: 600; font-size: 24px; line-height: 40px; }
.daehan .connect { right: 43%; bottom: 22%;}
/* daehan sec */
/* soma sec */
#panels-container #panel-3 { background-color: #eb6b00; }
.soma-tit {
  font-family: "CoreCircus", sans-serif; font-size: 8vw; line-height: 10vw; color: #ffffff; text-align: center; text-transform: uppercase; 
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58, 1px 0px 0px #000000, 0px 1px 0px #000000, 2px 1px 0px #000000, 1px 2px 0px #65f283, 3px 2px 0px #000000, 2px 3px 0px #000000, 4px 3px 0px #000000, 3px 4px 0px #000000, 5px 4px 0px #000000, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58, -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px 10px 4px #dac249;
  position: absolute;
  top: 0%; left: 5%;
  animation: heartbeat2 1.7s infinite;
}
/* artist */
.artist-fix { width: 100px; }
.artist {
  position: relative;
  width: 55vw;
  height: 41vw;
  bottom: -40%;
  left: -50%;
}

/*-------------*/
.nube {
  position: absolute;
  top: 0;
  left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4vw;
  height: 1vw;
  -webkit-animation: nube ease 8s infinite alternate;
  animation: nube ease 8s infinite alternate;
}

.nube:nth-of-type(2) {
  left: 40vw;
  top: 5vw;
  animation: nube ease 12s infinite reverse alternate;
}

.nube-1, .nube-2 {
  position: relative;
  border-radius: 50%;
  margin-left: -0.5vw;
  border-top: 1.5vw solid white;
  border-left: 1.5vw solid white;
  border-bottom: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.nube-2 {
  margin-top: 0.25vw;
  border-top: 1.25vw solid white;
  border-left: 1.25vw solid white;
  border-bottom: 1.25vw solid transparent;
  border-right: 1.25vw solid transparent;
}

.pajaro {
  position: absolute;
  width: 3vw;
  height: 4vw;
  top: 6vw;
  left: 11vw;
  z-index: 1;
  -webkit-animation: pajaro 4s infinite;
  animation: pajaro 4s infinite;
}

.pajaro-i {
  position: absolute;
  width: 0.15vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.pajaro-1 {
  bottom: -0.5vw;
  left: 1.5vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border-bottom: 1.5vw solid #4546c8;
  border-left: 1.5vw solid #4546c8;
  border-right: 1.5vw solid transparent;
  border-top: 1.5vw solid transparent;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg);
}

.pajaro-2 {
  bottom: 1.5vw;
  right: 0;
  width: 1.8vw;
  height: 1.5vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  background-color: #4546c8;
}

.pajaro-2::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 30%;
  width: 0.6vw;
  height: 0.6vw;
  background-color: #FEFEFC;
  border-radius: 50%;
}

.pajaro-2::after {
  content: "";
  position: absolute;
  right: 25%;
  top: 50%;
  width: 0.2vw;
  height: 0.2vw;
  background-color: #2C0870;
  border-radius: 50%;
}

.pajaro-3 {
  top: 1.5vw;
  left: 2.8vw;
  z-index: -1;
  border-bottom: 0.4vw solid transparent;
  border-left: 0.7vw solid #FEBD6A;
  border-right: 1vw solid transparent;
  border-top: 0.4vw solid transparent;
}

.suelo {
  position: absolute;
  bottom: 2.7vw;
  left: 50%;
  width: 46.25vw;
  height: 0.15vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#238396), color-stop(#178ba4), to(#238396));
  background-image: -webkit-linear-gradient(left, #238396, #178ba4, #238396);
  background-image: -o-linear-gradient(left, #238396, #178ba4, #238396);
  background-image: linear-gradient(left, #238396, #178ba4, #238396);
}

.bote {
  position: absolute;
  bottom: 0;
  left: 17.8vw;
  width: 4vw;
  height: 4.5vw;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5vw, #6AA5CA), color-stop(0.5vw, #398CB4), color-stop(0.6vw, #398CB4), color-stop(0.6vw, #6AA5CA), color-stop(6vw, #398CB4));
  background-image: -webkit-linear-gradient(top, #6AA5CA 0.5vw, #398CB4 0.5vw, #398CB4 0.6vw, #6AA5CA 0.6vw, #398CB4 6vw);
  background-image: -o-linear-gradient(top, #6AA5CA 0.5vw, #398CB4 0.5vw, #398CB4 0.6vw, #6AA5CA 0.6vw, #398CB4 6vw);
  background-image: linear-gradient(top, #6AA5CA 0.5vw, #398CB4 0.5vw, #398CB4 0.6vw, #6AA5CA 0.6vw, #398CB4 6vw);
}

.bote:nth-of-type(2) {
  bottom: -0.1vw;
  left: 40vw;
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
}

.bote:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: -2vw;
  top: -2vw;
  height: 0.2vw;
  width: 4vw;
  background: #f09b1f;
  border: none;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
}

.bote::before {
  content: "";
  position: absolute;
  top: -1vw;
  right: -0.1vw;
  width: 4vw;
  height: 3vw;
  border-top: 0.1vw solid transparent;
  border-left: 0.1vw solid transparent;
  border-bottom: 0.1vw solid #FEFEFC;
  border-right: 0.1vw solid #FEFEFC;
  border-radius: 50%;
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotate(30deg);
  transform: rotateZ(30deg);
}

.colores-i {
  position: absolute;
  width: 0.15vw;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.colores-1 {
  height: 1.3vw;
  top: -1.3vw;
  left: 0.7vw;
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotateZ(-20deg);
  background-color: #116577;
}

.colores-2 {
  height: 1.8vw;
  top: -1.8vw;
  left: 1.4vw;
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotateZ(-5deg);
  background-color: #FEBD6A;
}

.colores-3 {
  height: 2vw;
  top: -2vw;
  left: 2.7vw;
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotate(10deg);
  transform: rotateZ(10deg);
  background-color: #002E83;
}

.colores-4 {
  height: 1.5vw;
  top: -1.4vw;
  left: 3vw;
  -webkit-transform: rotateZ(35deg);
  -ms-transform: rotate(35deg);
  transform: rotateZ(35deg);
  background-color: #238396;
}

.colores-5 {
  height: 2.2vw;
  top: -2.15vw;
  left: 3.5vw;
  -webkit-transform: rotateZ(25deg);
  -ms-transform: rotate(25deg);
  transform: rotateZ(25deg);
  background-color: #238396;
}

.humano {
  position: absolute;
  top: 3vw;
  left: 5.5vw;
  width: 25vw;
  height: 35vw;
  z-index: 100;
}

.humano-i {
  position: absolute;
}

.humano-pi {
  width: 4.5vw;
  height: 15vw;
  bottom: 4vw;
  left: 9vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(40deg);
  -ms-transform: rotate(40deg);
  transform: rotateZ(40deg);
  border-top-right-radius: 2vw;
  background-image: -webkit-linear-gradient(170deg, transparent 2vw, #020750 2vw, #002E83 2.75vw);
  background-image: -o-linear-gradient(170deg, transparent 2vw, #020750 2vw, #002E83 2.75vw);
  background-image: linear-gradient(-80deg, transparent 2vw, #020750 2vw, #002E83 2.75vw);
}

.humano-pi::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-top: 1.5vw solid transparent;
  border-bottom: 1.5vw solid transparent;
  border-left: 6vw solid #020750;
  border-right: 1vw solid transparent;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(30deg) skewX(30deg);
  -ms-transform: rotate(30deg) skewX(30deg);
  transform: rotateZ(30deg) skewX(30deg);
}

.humano-pi::after {
  content: "";
  position: absolute;
  bottom: 1vw;
  width: 3vw;
  height: 3vw;
  background-image: -webkit-linear-gradient(170deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
  background-image: -o-linear-gradient(170deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
  background-image: linear-gradient(-80deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
}

.humano-pd {
  width: 4.5vw;
  height: 15vw;
  top: 10.9vw;
  left: 12.5vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(-63deg);
  -ms-transform: rotate(-63deg);
  transform: rotateZ(-63deg);
  border-top-left-radius: 3vw;
  border-top-right-radius: 2vw;
  background-image: -webkit-linear-gradient(10deg, transparent 2vw, #2C0870 2vw, #024799 2.75vw);
  background-image: -o-linear-gradient(10deg, transparent 2vw, #2C0870 2vw, #024799 2.75vw);
  background-image: linear-gradient(80deg, transparent 2vw, #2C0870 2vw, #024799 2.75vw);
}

.humano-pd::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1.5vw solid transparent;
  border-bottom: 1.5vw solid transparent;
  border-left: 1vw solid transparent;
  border-right: 6vw solid #020750;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotateZ(-30deg) skewX(-30deg);
  -ms-transform: rotate(-30deg) skewX(-30deg);
  transform: rotateZ(-30deg) skewX(-30deg);
}

.humano-pd::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1vw;
  width: 3vw;
  height: 3vw;
  background-image: -webkit-linear-gradient(10deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
  background-image: -o-linear-gradient(10deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
  background-image: linear-gradient(80deg, transparent 0.4vw, #2C0870 0.5vw, #020750 1.5vw);
}

.humano-pdt {
  bottom: 15.5vw;
  width: 10vw;
  height: 5vw;
  border-top-left-radius: 3vw;
  border-bottom-left-radius: 2vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#020750), to(#024799));
  background-image: -webkit-linear-gradient(top, #020750, #024799);
  background-image: -o-linear-gradient(top, #020750, #024799);
  background-image: linear-gradient(top, #020750, #024799);
}

.humano-pdt::before {
  content: "";
  position: absolute;
  bottom: 2.1vw;
  right: -0.4vw;
  width: 5vw;
  height: 0.125vw;
  background-color: #00256a;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotateZ(25deg);
  -ms-transform: rotate(25deg);
  transform: rotateZ(25deg);
}

.humano-pdt::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3vw;
  height: 6vw;
  background-image: -webkit-linear-gradient(50deg, transparent 1.9vw, #f09b1f 1.9vw);
  background-image: -o-linear-gradient(50deg, transparent 1.9vw, #f09b1f 1.9vw);
  background-image: linear-gradient(40deg, transparent 1.9vw, #f09b1f 1.9vw);
  border-top-left-radius: 1.4vw;
}

.humano-mandila {
  top: 10.5vw;
  right: 13.5vw;
  width: 7vw;
  height: 13vw;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotateZ(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotateZ(-40deg);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #f09b1f), to(#FEBD6A));
  background-image: -webkit-linear-gradient(top, #f09b1f 70%, #FEBD6A);
  background-image: -o-linear-gradient(top, #f09b1f 70%, #FEBD6A);
  background-image: linear-gradient(top, #f09b1f 70%, #FEBD6A);
  z-index: -2;
}

.humano-cuerpo {
  top: 4vw;
  left: 8vw;
  width: 11vw;
  height: 15vw;
  z-index: -3;
  border-top-left-radius: 7.4vw;
  background-image: -webkit-linear-gradient(170deg, transparent 1.9vw, #d10955 1.9vw, #FF006B);
  background-image: -o-linear-gradient(170deg, transparent 1.9vw, #d10955 1.9vw, #FF006B);
  background-image: linear-gradient(-80deg, transparent 1.9vw, #d10955 1.9vw, #FF006B);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotate(5deg);
  transform: rotateZ(5deg);
  overflow: hidden;
  -webkit-box-shadow: inset 0.75vw 0.75vw 1vw #d10955;
  box-shadow: inset 0.75vw 0.75vw 1vw #d10955;
}

.humano-cuerpoa {
  position: absolute;
  top: -1.5vw;
  width: 3.75vw;
  height: 4vw;
  left: 6.8vw;
  border-radius: 50%;
  border: 0.25vw solid #FEFEFC;
  -webkit-box-shadow: inset 0.25vw -0.25vw 0.125vw #FF96AF;
  box-shadow: inset 0.25vw -0.25vw 0.125vw #FF96AF;
  background-color: #FFAEC0;
}

.humano-bd {
  top: 7vw;
  left: 10.7vw;
  width: 4.5vw;
  height: 9vw;
  -webkit-transform: top right;
  -ms-transform: top right;
  transform: top right;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
  background-image: -webkit-linear-gradient(115deg, transparent 1.9vw, #FF006B 1.9vw, #d10955);
  background-image: -o-linear-gradient(115deg, transparent 1.9vw, #FF006B 1.9vw, #d10955);
  background-image: linear-gradient(-25deg, transparent 1.9vw, #FF006B 1.9vw, #d10955);
  -webkit-animation: bd 1.75s ease infinite alternate;
  animation: bd 1.75s ease infinite alternate;
}

.humano-bd::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%) rotateZ(-24deg) skewX(-10deg);
  -ms-transform: translate(-50%) rotate(-24deg) skewX(-10deg);
  transform: translate(-50%) rotateZ(-24deg) skewX(-10deg);
  width: 130%;
  height: 1.25vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#FEBD6A), color-stop(20%, #FEFEFC));
  background-image: -webkit-linear-gradient(left, #FEBD6A, #FEFEFC 20%);
  background-image: -o-linear-gradient(left, #FEBD6A, #FEFEFC 20%);
  background-image: linear-gradient(left, #FEBD6A, #FEFEFC 20%);
}

.humano-bd::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 0.125vw;
  height: 45%;
  background-color: #b9084b;
}

.humano-ad {
  left: 13vw;
  top: 14vw;
  width: 10vw;
  height: 3vw;
  border-top: 0.125vw solid #ffc8d4;
  background-image: -webkit-linear-gradient(100deg, transparent 1.5vw, #FFAEC0 1.5vw);
  background-image: -o-linear-gradient(100deg, transparent 1.5vw, #FFAEC0 1.5vw);
  background-image: linear-gradient(-10deg, transparent 1.5vw, #FFAEC0 1.5vw);
  z-index: -1;
  -webkit-animation: ad 1.75s ease infinite alternate;
  animation: ad 1.75s ease infinite alternate;
}

.humano-ad::before {
  content: "";
  position: absolute;
  width: 4vw;
  height: 3vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff7d9c), to(#FFAEC0));
  background-image: -webkit-linear-gradient(left, #ff7d9c, #FFAEC0);
  background-image: -o-linear-gradient(left, #ff7d9c, #FFAEC0);
  background-image: linear-gradient(left, #ff7d9c, #FFAEC0);
  border-bottom-right-radius: 3vw;
}

.humano-md {
  top: -2.2vw;
  right: -0.8vw;
  height: 3.5vw;
  width: 1vw;
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotate(10deg);
  transform: rotateZ(10deg);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(1vw, #FFAEC0), to(#ff7d9c));
  background-image: -webkit-linear-gradient(left, #FFAEC0 1vw, #ff7d9c);
  background-image: -o-linear-gradient(left, #FFAEC0 1vw, #ff7d9c);
  background-image: linear-gradient(left, #FFAEC0 1vw, #ff7d9c);
  border-top-left-radius: 1vw;
}

.humano-md::before {
  content: "";
  position: absolute;
  left: -1.6vw;
  top: -0.4vw;
  height: 3vw;
  width: 0.25vw;
  background-color: #020750;
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
}

.humano-mandilb {
  top: 10vw;
  left: 11.5vw;
  width: 7vw;
  height: 7.7vw;
  -webkit-transform: rotateZ(15deg);
  -ms-transform: rotate(15deg);
  transform: rotateZ(15deg);
  background-color: #f09b1f;
  z-index: -2;
}

.humano-mandilb::after, .humano-mandilb::before {
  content: "";
  position: absolute;
  top: -6vw;
  right: 0;
  width: 0.85vw;
  height: 6.5vw;
  background-color: #f09b1f;
}

.humano-mandilb::after {
  left: 1vw;
  top: -4.8vw;
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotateZ(-20deg);
  border-top-left-radius: 0.5vw;
  -webkit-box-shadow: -0.15vw 1vw 1vw #d10955;
  box-shadow: -0.15vw 1vw 1vw #d10955;
}

.humano-bi {
  top: 5.3vw;
  right: 3vw;
  width: 3vw;
  height: 7.5vw;
  -webkit-transform: rotateZ(15deg);
  -ms-transform: rotate(15deg);
  transform: rotateZ(15deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#a00741), color-stop(80%, #d10955));
  background-image: -webkit-linear-gradient(left, #a00741, #d10955 80%);
  background-image: -o-linear-gradient(left, #a00741, #d10955 80%);
  background-image: linear-gradient(left, #a00741, #d10955 80%);
  border-top-right-radius: 2vw;
  z-index: -4;
}

.humano-bi::before {
  content: "";
  position: absolute;
  bottom: -0.2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 120%;
  height: 1vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#FEBD6A), color-stop(80%, #FEFEFC));
  background-image: -webkit-linear-gradient(left, #FEBD6A, #FEFEFC 80%);
  background-image: -o-linear-gradient(left, #FEBD6A, #FEFEFC 80%);
  background-image: linear-gradient(left, #FEBD6A, #FEFEFC 80%);
}

.humano-mi {
  top: 12.5vw;
  right: 5vw;
  width: 2vw;
  height: 7vw;
  -webkit-transform: rotateZ(15deg);
  -ms-transform: rotate(15deg);
  transform: rotateZ(15deg);
  background-image: -webkit-linear-gradient(172deg, transparent 1vw, #FF96AF 1vw, #ff7d9c);
  background-image: -o-linear-gradient(172deg, transparent 1vw, #FF96AF 1vw, #ff7d9c);
  background-image: linear-gradient(-82deg, transparent 1vw, #FF96AF 1vw, #ff7d9c);
  z-index: -3;
}

.humano-mi::before {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  width: 3vw;
  height: 1vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 4vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff7d9c), to(#FF96AF));
  background-image: -webkit-linear-gradient(left, #ff7d9c, #FF96AF);
  background-image: -o-linear-gradient(left, #ff7d9c, #FF96AF);
  background-image: linear-gradient(left, #ff7d9c, #FF96AF);
}

.humano-head {
  top: 0.25vw;
  left: 16vw;
  width: 7vw;
  height: 7vw;
  -webkit-animation: head 2s ease infinite alternate;
  animation: head 2s ease infinite alternate;
}

.humano-head1 {
  bottom: 0;
  left: 1vw;
  width: 4vw;
  height: 2.5vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotateZ(-10deg);
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 3vw;
  background-color: #FFAEC0;
}

.humano-head2 {
  bottom: 0.5vw;
  left: 2vw;
  width: 3.5vw;
  height: 2.5vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  border-bottom-right-radius: 3vw;
  background-color: #FFAEC0;
}

.humano-head3 {
  bottom: 0.5vw;
  left: 3.5vw;
  width: 2vw;
  height: 5vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotate(5deg);
  transform: rotateZ(5deg);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 90%;
  background-color: #FFAEC0;
}

.humano-head4 {
  top: 1.25vw;
  left: 2vw;
  width: 2.5vw;
  height: 3vw;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotate(5deg);
  transform: rotateZ(5deg);
  background-color: #2C0870;
}

.humano-head4::after, .humano-head4::before {
  content: "";
  position: absolute;
  top: 1.2vw;
  left: -1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #2C0870;
}

.humano-head4::after {
  top: 2.1vw;
  left: -1.25vw;
  width: 2.5vw;
  height: 1.75vw;
  border-radius: 50%;
}

.humano-head5 {
  top: 0.9vw;
  left: 2.2vw;
  width: 3.7vw;
  height: 1.5vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c70951), to(#d10955));
  background-image: -webkit-linear-gradient(top, #c70951, #d10955);
  background-image: -o-linear-gradient(top, #c70951, #d10955);
  background-image: linear-gradient(top, #c70951, #d10955);
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.humano-head5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 0.125vw;
  background-color: #d10955;
}

.humano-head5::after {
  content: "";
  position: absolute;
  top: -0.25vw;
  left: 50%;
  width: 0.3vw;
  height: 0.3vw;
  background-color: #d10955;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.humano-head6 {
  top: 2.9vw;
  left: 3.1vw;
  width: 1.25vw;
  height: 1.5vw;
  background-color: #FFAEC0;
  border-radius: 50%;
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotate(20deg);
  transform: rotateZ(20deg);
}

.humano-head6::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 0.8vw;
  height: 1vw;
  border-radius: 50%;
  background-color: rgba(255, 150, 175, 0.25);
}

.humano-head7 {
  top: 4vw;
  right: 0.5vw;
  border-top: 0.4vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-left: 0.8vw solid #FFAEC0;
  border-right: 0.4vw solid transparent;
  -webkit-transform: rotateZ(18deg) skewX(15deg);
  -ms-transform: rotate(18deg) skewX(15deg);
  transform: rotateZ(18deg) skewX(15deg);
}

.humano-head8 {
  top: 4.4vw;
  left: 4vw;
  width: 0.75vw;
  height: 1vw;
  border-radius: 50%;
  background-color: rgba(255, 150, 175, 0.7);
  -webkit-transform: rotateZ(18deg);
  -ms-transform: rotate(18deg);
  transform: rotateZ(18deg);
}

.lienzo {
  position: absolute;
  top: 3.2vw;
  right: 15vw;
  width: 13vw;
  height: 35vw;
  z-index: 1000;
}

.lienzo-i {
  position: absolute;
  border-radius: 1vw;
}

.lienzo-1 {
  left: 1vw;
  top: 0.25vw;
  width: 0.9vw;
  height: 20.5vw;
  z-index: 200;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotateZ(15deg);
  -ms-transform: rotate(15deg);
  transform: rotateZ(15deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#116577), to(#238396));
  background-image: -webkit-linear-gradient(left, #116577, #238396);
  background-image: -o-linear-gradient(left, #116577, #238396);
  background-image: linear-gradient(left, #116577, #238396);
}

.lienzo-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0.9vw;
  width: 0.9vw;
  height: 19vw;
  border-radius: 1vw;
  background-color: #FEFEFC;
}

.lienzo-2 {
  left: 3.9vw;
  bottom: 0;
  width: 0.9vw;
  height: 25.5vw;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3vw, #116577), color-stop(10vw, #238396));
  background-image: -webkit-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: -o-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: linear-gradient(top, #116577 3vw, #238396 10vw);
}

.lienzo-3 {
  right: 0;
  bottom: 0;
  width: 0.9vw;
  height: 29vw;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotateZ(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotateZ(-15deg);
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3vw, #116577), color-stop(10vw, #238396));
  background-image: -webkit-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: -o-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: linear-gradient(top, #116577 3vw, #238396 10vw);
}

.lienzo-4 {
  right: 3.1vw;
  bottom: 12vw;
  width: 0.9vw;
  height: 6.25vw;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotateZ(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotateZ(-60deg);
  background-color: #238396;
}

.silla {
  position: absolute;
  bottom: 2.8vw;
  left: 10vw;
  width: 11vw;
  height: 29vw;
}

.silla-i {
  position: absolute;
}

.silla-1, .silla-2, .silla-3, .silla-4 {
  bottom: 0;
  width: 0.5vw;
  height: 13.5vw;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3vw, #116577), color-stop(10vw, #238396));
  background-image: -webkit-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: -o-linear-gradient(top, #116577 3vw, #238396 10vw);
  background-image: linear-gradient(top, #116577 3vw, #238396 10vw);
}

.silla-2 {
  right: 0;
}

.silla-3, .silla-4 {
  z-index: -2;
  background: #88d4e3;
}

.silla-3 {
  left: 1.75vw;
}

.silla-4 {
  right: 2vw;
}

.silla-6 {
  width: 100%;
  height: 2.75vw;
  bottom: 4.5vw;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3vw, #14788d), color-stop(10vw, #4abed5));
  background-image: -webkit-linear-gradient(top, #14788d 3vw, #4abed5 10vw);
  background-image: -o-linear-gradient(top, #14788d 3vw, #4abed5 10vw);
  background-image: linear-gradient(top, #14788d 3vw, #4abed5 10vw);
}

.silla-7 {
  width: 63%;
  height: 2vw;
  bottom: 8vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #88d4e3;
}

.silla-8 {
  width: 125%;
  height: 0.75vw;
  bottom: 13.5vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left top, right top, from(#116577), color-stop(40%, #2ba0b7), color-stop(60%, #2ba0b7), to(#116577));
  background-image: -webkit-linear-gradient(left, #116577, #2ba0b7 40%, #2ba0b7 60%, #116577);
  background-image: -o-linear-gradient(left, #116577, #2ba0b7 40%, #2ba0b7 60%, #116577);
  background-image: linear-gradient(left, #116577, #2ba0b7 40%, #2ba0b7 60%, #116577);
}

.silla-9 {
  width: 125%;
  height: 2vw;
  bottom: 14.2vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: -webkit-linear-gradient(135deg, #238396 9.7vw, transparent 9.7vw);
  background-image: -o-linear-gradient(135deg, #238396 9.7vw, transparent 9.7vw);
  background-image: linear-gradient(-45deg, #238396 9.7vw, transparent 9.7vw);
}

.silla-10 {
  top: 0.5vw;
  width: 100%;
  height: 13vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  background-color: #4abed5;
}

.silla-10::after, .silla-10::before {
  content: "";
  position: absolute;
  top: 2vw;
  width: 0.25vw;
  height: 50%;
  border-radius: 1vw;
  background-color: #FCF2E6;
}

.silla-10::before {
  left: 2vw;
}

.silla-10::after {
  left: 4vw;
}

@-webkit-keyframes head {
  0%, 10%, 60% {
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
  20%, 80%, 100% {
    -webkit-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }
}
@keyframes head {
  0%, 10%, 60% {
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
  20%, 80%, 100% {
    -webkit-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }
}
@-webkit-keyframes bd {
  0%, 10%, 50% {
    -webkit-transform: rotate(-25deg) translateY(-0.1vw);
    transform: rotate(-25deg) translateY(-0.1vw);
  }
  20%, 60%, 70%, 90%, 100% {
    -webkit-transform: rotate(-25deg) translateY(0.1vw);
    transform: rotate(-25deg) translateY(0.1vw);
  }
}
@keyframes bd {
  0%, 10%, 50% {
    -webkit-transform: rotate(-25deg) translateY(-0.1vw);
    transform: rotate(-25deg) translateY(-0.1vw);
  }
  20%, 60%, 70%, 90%, 100% {
    -webkit-transform: rotate(-25deg) translateY(0.1vw);
    transform: rotate(-25deg) translateY(0.1vw);
  }
}
@-webkit-keyframes ad {
  0%, 10%, 50% {
    -webkit-transform: translateY(-0.1vw);
    transform: translateY(-0.1vw);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  20%, 60%, 70%, 90%, 100% {
    -webkit-transform: translateY(0.1vw);
    transform: translateY(0.1vw);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}
@keyframes ad {
  0%, 10%, 50% {
    -webkit-transform: translateY(-0.1vw);
    transform: translateY(-0.1vw);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  20%, 60%, 70%, 90%, 100% {
    -webkit-transform: translateY(0.1vw);
    transform: translateY(0.1vw);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}
@-webkit-keyframes pajaro {
  0%, 90%, 96%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  94% {
    -webkit-transform: translateY(-1vw);
    transform: translateY(-1vw);
  }
}
@keyframes pajaro {
  0%, 90%, 96%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  94% {
    -webkit-transform: translateY(-1vw);
    transform: translateY(-1vw);
  }
}
@-webkit-keyframes nube {
  0% {
    -webkit-transform: translateX(-2vw);
    transform: translateX(-2vw);
  }
  100% {
    -webkit-transform: translateX(2vw);
    transform: translateX(2vw);
  }
}
@keyframes nube {
  0% {
    -webkit-transform: translateX(-2vw);
    transform: translateX(-2vw);
  }
  100% {
    -webkit-transform: translateX(2vw);
    transform: translateX(2vw);
  }
}

/* artist */
.soma-intro { 
  width: 550px; height:400px;
  border: 8px solid #fff;
  background-image: url(../img/intro-soma.png); background-size: cover;
  position: absolute; right: 10%; top: 10%;
}
.soma-text-box {
  position: absolute; left: 45%; bottom:20%
}
.soma-text-box h1 { 
  margin-bottom: 30px;
  font-size: 50px; color: #fff;
}
.soma-text-box p { font-weight: 600; font-size: 24px; line-height: 40px; color: #fff;}
/* soma sec */
/* figma sec */
#panels-container #panel-4 { background-color: #51b1ff; }
/* figma-tit */
.figma-tit {
  font-family: "CoreCircus", sans-serif; font-size: 10vw; line-height: 1; text-align: center;
  text-transform: uppercase; text-shadow: 1px 0px 0px #67c2c5, 0px 1px 0px #67c2c5, 2px 1px 0px #67c2c5, 1px 2px 0px #67c2c5, 3px 2px 0px #67c2c5, 2px 3px 0px #67c2c5, 4px 3px 0px #67c2c5, 3px 4px 0px #67c2c5, 5px 4px 0px #67c2c5, 4px 5px 0px #67c2c5, 6px 5px 0px #67c2c5, 5px 6px 0px #67c2c5, 7px 6px 0px #67c2c5, 6px 7px 0px #67c2c5, 8px 7px 0px #aff1f9, 7px 8px 0px #aff1f9, 9px 8px 0px #aff1f9, 8px 9px 0px #aff1f9, 10px 9px 0px #aff1f9, 9px 10px 0px #aff1f9, 11px 10px 0px #aff1f9, 10px 11px 0px #aff1f9;
  color: #61c0c8;
  position: absolute;
  top: 4%; left: 3%;
  animation: heartbeat2 1.7s infinite;
}
.figma-tit:before, .figma-tit:after {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
}
.figma-tit:before {
  color: white;
  width: 100%;
  z-index: 5;
  font-family: "CoreCircus2DIn";
  font-weight: normal;
}
.figma-tit:after {
  z-index: -1;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -3px 3px 2px #6c9d9e, -5px 5px 2px #6c9d9e, -7px 7px 2px #6c9d9e, -8px 8px 2px #6c9d9e, -9px 9px 2px #6c9d9e, -11px 11px 2px #6c9d9e;
}
/* figma-tit */
.figma-img { 
  width: 630px; height: 520px;
  border: 8px solid #fff;
  background-image: url(../img/figma-intro.png); background-size: cover; background-repeat: no-repeat;
  box-shadow: 0 0 18px #000;
  position: absolute; top: 35%; right: 22%;
}
.figma-text-box {
  position: absolute; left: 15%; bottom:30%
}
.figma-text-box h1 { 
  margin-bottom: 30px;
  font-size: 50px; color: #fff;
}
.figma-text-box p { font-weight: 600; font-size: 24px; color: #fff; line-height: 40px;}
.figma .connect { right: 65%;
  bottom: 17%; }
/* figma sec */
/* graphic sec */
#panels-container #panel-5 { background-color: #ebd400; }
.graphic-tit {
  font-family: "Rig Bold Face", sans-serif; font-weight: normal; font-size: 7vw; text-align: center; color: #91d4ff; text-transform: uppercase;
  position: absolute;
  top: 5%; left: 5%;
  animation: heartbeat2 1.6s infinite;
}
.graphic-tit:before, .graphic-tit:after,
.graphic-tit span:before,
.graphic-tit span:after {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  font-weight: normal;
  text-shadow: none;
}
.graphic-tit:before {
  color: #fff;
  font-family: "Rig Bold Inline", sans-serif;
}
.graphic-tit:after {
  font-family: "Rig Bold Coarse", sans-serif;
  color: #040351;
}

.graphic-tit-effect::before {
  font-family: "Rig Bold Shadow", sans-serif;
  color: #cbc7e3;
  z-index: -1;
}
.graphic-tit-effect::after {
  font-family: "Rig Bold Extrude", sans-serif;
  color: #4d8bea;
  z-index: -1;
}
.work { 
  box-shadow: 0 0 18px #000;
  position: absolute;
  transition: all 0.3s;  
}
.photo1 {
  width: 500px; height: 100px;
  background-image: url(../img/banner1.png); background-size: cover;
  left: 7%; top: 28%;
}
.photo2 {
  width: 400px; height: 150px;
  background-image: url(../img/banner2.png); background-size: cover;
  left: 4%; top: 47%;
}
.photo3 {
  width: 350px; height: 350px;
  background-image: url(../img/promotion.png); background-size: cover;
  position: absolute; left: 32%; top: 55%;
}
.photo-illu { 
  width: 250px; height: 167px;
  background-image: url(../img/pi.png); background-size: contain;
  left: 8%; bottom: 10%;
}
.illu {
  width: 300px; height: 450px;
  background-image: url(../img/songinsu-isometric.png); background-size: cover;
  bottom:14%; right: 23%;
}
.work::before {content: "";
  width: 50px; height: 50px;
  background-image: url(../img/photoshop.png); background-size: contain; background-repeat: no-repeat;
  position: absolute; left: -5%;top: -20%;
  animation: heartbeat2 2s infinite;
}
.photo3::before { top:-5%; }
.illu::before { 
  top: -5%;
  background-image: url(../img/illustrator.png); 
}
.photo-illu::after { content: "";
  width: 50px; height: 50px;
  background-image: url(../img/illustrator.png); background-size: contain; background-repeat: no-repeat;
  position: absolute; left: 17%;top: -20%;
  animation: heartbeat2 2s infinite;
}
.work:hover { transform: scale(1.3); }
/* svg */
.maskText1,.maskText2{
  text-anchor:middle;
  font-family:"brandon-grotesque", Helvetica Neue, Arial,sans-serif;
  font-weight:700;
  font-size:42px;
  letter-spacing:-1px;
  cursor: pointer;
  transform: translate( -2%, -12% );
}

.maskText3{
  opacity:0
}
/* svg */

.design-text-box {
  position: absolute; left: 35%; top:22%;
  z-index: -1;
}
.design-text-box h1 { 
  margin-bottom: 20px;
  font-size: 50px; color: #000;
}
.design-text-box p { font-weight: 800; font-size: 24px; color: #000; line-height: 40px;}

/* graphic sec */
#panels-container #panel-6 { background-color: #4d453f; }
#panels-container #panel-7 { background-color: #9df077; }
#panels-container .container { width: 100%;}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
}
/* #panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
} */
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}
