@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
/* common */
.connect { 
  display: flex;
  position: absolute; right: 20%; bottom: 10%; 
}
.connect-common { 
  display: flex; justify-content: center; align-items: center; 
  width: 120px; height: 50px;
  background-color: #fff;
  font-weight: 700; font-size: 20px; 
  box-shadow: 0 0 18px #000;
  transition: all 0.3s;
}
.connect-common + .connect-common { margin-left: 40px;}

.connect-common:hover { 
  border: 3px solid #000;
  transform: scale(1.3); 
}
/* common */

body {
	color: #fff;
}

#hero {
  width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
	/* max-width: 1920px; */
	margin: 0 auto;
  z-index: -3;
}
#content {
	background-color: rgb(255, 191, 0);
}



#hero-mobile {
	display: none;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
	height: 320px;
}

.first-section {
  box-sizing: border-box;
	padding: 200px 0 220px;
}
.first-section > h1 { 
  margin-bottom: 300px;
  text-align: center; 
}
.introduction-box { 
  margin: 0 auto; 
  width: 90%;
}
.introduction-box figure img { width: 100%; }



/* hero-svg-css */

.myworld{
  margin: 0 auto;
  width: 50%; 
  position: fixed; z-index: -1; bottom: 0; left: 50%;
  transform: translateX(-50%);
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
#airplane2, #airplane1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 331px 201px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}


/* city-train */
.skyline {
  width: 100%; height: 60%;
  background: url(../img/city.png) no-repeat center bottom / contain;
  position: absolute; bottom: 0;
  overflow-x: hidden; 
}
.train {
  width: 100%; height: 5%;
  background: url(../img/train.png) no-repeat center center / contain;
  position: absolute;
  bottom: 0;  left: 50%;
  transform: translateX(-95%);  
  animation: train-move 20s infinite; 
}
@keyframes train-move {
  0% {transform: translateX(-95%)}
  50% {transform: translateX(-5%)}   
  100% {transform: translateX(-95%)} 
}
/* city-train */

/* hero-svg-css */

/* profile title svg */

.mytitle { margin-bottom: 200px; }

.svg-text {
  width: 100%;
  position: relative;
  transform: rotateX(30deg);
  font-size: 280px;
  font-family: 'dragon_is_comingregular', serif;
  transition: all 0.6s ease-in-out;
  color: #f0f0f0;
  cursor: pointer;
}
.svg-text__shaded {
  text-shadow: 0 1px 1px rgba(33, 33, 33, 0.15), 0 3px 10px rgba(33, 33, 33, 0.15), 0 3px 20px rgba(33, 33, 33, 0.35);
}
.svg-text__shaded__sub {
  font-size: .05em;
  font-family: 'Open Sans', sans-serif;
}
.svg-text__shaded__stroke {
  stroke-dasharray: 3em .5em;
  stroke-dashoffset: 0;
  transition: all 0.6s ease-in-out;
  -webkit-animation: offsetAnim 4.2s ease-in-out infinite;
          animation: offsetAnim 4.2s ease-in-out infinite;
}
.svg-text .bold {
  font-size: .5em;
  font-family: 'Kreon', sans-serif;
  font-weight: 700;
}

.svg-text:hover .svg-text__shaded__stroke {
  -webkit-animation: offsetAnim 4.2s ease-in-out infinite;
          animation: offsetAnim 4.2s ease-in-out infinite;
}


@-webkit-keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}

@keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 3.5em;
  }
}

/* profile title svg */

/* profile picture effect */
canvas {
  display: block;
  width: 100%;
}
/* profile picture effect */

/* introduction-box */
.introduction-box {display: flex;}
.introduction-box figure { 
  width: 100%;
  margin-right: 10%;
  position: relative; 
}
.introduction-box figure canvas { 
  position: absolute; right: -26%; top: -2%;
}
.introduction-box div h1 { 
  margin-bottom: 30px;
  font-size: 38px; color: #000;
}
.introduction-box div p { font-weight: 600; font-size: 28px; line-height: 40px; }
.introduction-box .me + .me {margin-top: 40px;}
.intro-text-box { 
  /* padding-top: 60px; */
  display: flex; 
  width: 100%;
}
.intro-text-box .personal-box { margin-right: 60px; }
.skill-box { width: 100%; }
.my-skill{width: 100%;
  display: flex;
}
.skill-detail { 
    width: 60px; height: 60px;
  background-image: url(../img/html.png); background-position: center center; background-repeat: no-repeat; background-size: contain;
  animation: heartbeat 1.5s infinite;
}
.skill-detail + .skill-detail { margin-left: 20px; }
.skill-detail:nth-child(2){background-image: url(../img/css.png);}
.skill-detail:nth-child(3){background-image: url(../img/javascript.png);}
.skill-detail:nth-child(4){background-image: url(../img/jquery.png);}
.skill-detail:nth-child(5){
  margin-left: 37px;
  background-image: url(../img/photoshop.png);
}
.skill-detail:nth-child(6){
  margin-left: 37px;
  background-image: url(../img/illustrator.png);
}
.skill-detail:nth-child(7){background-image: url(../img/figma.png);}

@keyframes heartbeat {
  0% { transform: scale(1);}
  50% { transform: scale(1.3);}
  100% { transform: scale(1);}
}

/* introduction-box */


/* Most of these styles could be removed but are for the demo to look better */
/* 
html,
body {
  margin: 0;
  height: 100%;
} */


.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 1rem 2rem;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}

/* pizza sec */


#panels-container #panel-1 { background-color: #d4261f; }

/* pizza sec tit */
.stage {
  /* height: 300px;
  width: 500px; */
  margin: auto;
  position: absolute;
  top: 2%; left: 5%;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(20deg) rotateX(13deg) translateZ(0);
}

.layer:after {
  font: 700 140px/0.65 'dragon_is_comingregular', "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "오구쌀피자";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: #ff0;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(255, 255, 255);
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #fff;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #ff0;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-10deg) rotateX(-11deg);
  }
}
/* pizza sec tit */
/* .pizza-box { display: flex; } */
.pizza-img-box { 
  width: 38%; 
  position: absolute; left: 7%; bottom: 5%;
} 
.pizza-img-box img { 
  /* margin: 38% 0 0 11%; */
  width: 100%; 
  border: 10px solid #ff0;
  box-shadow: 0 0 40px #002951;
} 
.pizza-text-box { 
  /* box-sizing: border-box; */
  /* margin-top: 18%;  */
  /* padding-left: 10%; */
  width: 100%;
  position: absolute; bottom: 20%; left: 50%;
}
.pizza-text-box h1 { 
  width: 34%;
  margin-bottom: 30px;
  border-bottom: 5px solid #ff0;
  font-size: 50px; line-height: 80px; color: #fff; text-align: center;
}
.pizza-text-box p { font-weight: 600; font-size: 24px; line-height: 40px; color: #fff; }

.model-img {
  border-bottom: 10px solid #ff0;
  width: 350px; height: 390px;
  background-image: url(../img/brand-model.png);
  position: absolute; right:0; top:5%;
}
.interior-img {
  width: 741px; height: 337px;
  background-image: url(../img/interior-removebg-preview.png);
  position: absolute; right: 10%; top: 5%;
}
/* pizza sec */

/* daehan sec */
#panels-container #panel-2 { background-color: #fff; }
.plate {
  width: 50%;
  position: absolute; left: 5%; top: 5%;
  
}
.shadow1 {
  color: rgb(13, 9, 142);
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 rgb(255, 255, 255),
    3px -3px 0 rgb(255, 255, 255),
    -3px 3px 0 rgb(255, 255, 255),
    3px 3px 0 rgb(255, 255, 255),
    4px 4px 0 rgb(0, 0, 0),
    5px 5px 0 rgb(0, 0, 0),
    6px 6px 0 rgb(0, 0, 0),
    7px 7px 0 rgb(0, 0, 0);
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: 700; font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: rgb(255, 255, 255);
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 8px solid rgb(255, 0, 0);
}

.text2 {
  font-size: 169px; line-height: 200px;
  animation: heartbeat2 1.7s infinite;
}

@keyframes heartbeat2 {
  0% { transform: scale(1);}
  50% { transform: scale(1.1);}
  100% { transform: scale(1);}
}
.daehan-model1 { 
  width: 550px; height: 340px;
  background-image: url(../img/daehan-model.png); background-size: cover;
  position: absolute; left: 0; bottom: 0; 
}
.daehan-intro {
  width: 600px; height: 700px;
  border: 8px solid #002951;
  background-image: url(../img/daehan-intro.png); background-size: cover; background-repeat: no-repeat;
  position: absolute; right: 6%; top: 10%;
}
.daehan-text-box { 
  width: 40%; 
  position: absolute; left: 8%; bottom: 40%;
}
.daehan-text-box h1 { font-size: 50px; margin-bottom: 30px; }
.daehan-text-box p { font-weight: 600; font-size: 24px; line-height: 40px; }
.daehan .connect { right: 43%; bottom: 22%;}
/* daehan sec */
#panels-container #panel-3 { background-color: #eb6b00; }
#panels-container #panel-4 { background-color: #51b1ff; }
#panels-container #panel-5 { background-color: #ebd400; }
#panels-container #panel-6 { background-color: #4d453f; }
#panels-container #panel-7 { background-color: #9df077; }
#panels-container .container { width: 100%;}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
}
/* #panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
} */
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}
