@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

/* Insu-Song reset -S */

html, body, div, span, h1, h2, h3, h4, h5, h6, p,  
img, strong, ol, ul, li, fieldset, form, label, 
legend footer, header, section {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; line-height: 1;
	background-color: rgb(255, 230, 153);
	overflow-x: hidden !important;
	overflow-x: hidden;
}
a, em { font: inherit; text-decoration: none;}
ol, ul {
    list-style: none;
}
/* Insu-Song reset -E */